<div class="container">
    <label for="name">Name:</label>
    <br>
    <input type="text" name="name" [(ngModel)]="name" placeholder="Digite o seu nome aqui">
    <p>{{ name }}</p>
    <br>
    <button class="btn btn-primary" [disabled]="isInputNameEmpty(name)" (click)="clearInput(name)">Reset user</button>

    <br>
    <br>
    <br>

    <button class="btn btn-primary" (click)="onAddToggleDetails()">Display Details</button>
    <p *ngIf="showSecret">Secret Password = tuna</p>
    <br>
    <div *ngFor="let showLog of showDetailsLog; let getIndex = index"
        [ngStyle]="{backgroundColor: getIndex >= 5 ? 'blue' : transparent}" [ngClass]="{'white-text' : getIndex >= 5}">
        {{ showLog }}
    </div>
</div>