<div class="container">
  <div style="background-color: rgb(225, 225, 232); padding: 20px">
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a
          class="nav-link"
          [class.active]="aba == 'home'"
          (click)="aba = 'home'"
          >Home</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          [class.active]="aba == 'mapa'"
          (click)="aba = 'mapa'"
          >Mapa</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          [class.active]="aba == 'lista'"
          (click)="aba = 'lista'"
          >Lista</a
        >
      </li>
    </ul>
  </div>

  <div [ngSwitch]="aba">
    <p *ngSwitchCase="'mapa'">Modo Mapa ativado!</p>
    <p *ngSwitchCase="'lista'">Modo Lista ativado!</p>
    <p *ngSwitchDefault>Modo Home ativado!</p>
  </div>
</div>
