<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h3>I'm in the AppComponent!</h3>
            <hr>
            <app-servers></app-servers>
            <app-server></app-server>
        </div>
        <div class="col-xs-12">
            <hr>
            <app-warningAlert></app-warningAlert>
            <app-successAlert></app-successAlert>
        </div>

        <div>
            <app-databinding-exercicio></app-databinding-exercicio>
        </div>
    </div>
</div>